<div class="about">
  <img class="about__img"
  src="./../assets/imgAline.jpg">
  <div class="about__text">
    <h2 class="text__h2">Aline Andrade</h2>
    <p class="text__content">De São Caetano, no ABC paulista, tenho dois filhos e um cachorro chamado Chewbacca.<br> Já trabalhei em diversas áreas antes de ser mãe. Depois do diagnóstico do meu primeiro filho, decidi me afastar da vida corporativa para me dedicar à família. Mas como sempre gostei de trabalhar, procurei alguma ocupação que pudesse conciliar com os cuidados em casa. Depois de algumas tentativas, aprendi a costurar e abri meu ateliê que mantive por 6 anos. <br> A pandemia me fez repensar muitas coisas e tomei a decisão de tentar algo que sempre quis mas achava que não conseguiria: aprender tecnologia. <br>
    Encontrei na Laboratória uma chance de fazer isso acontecer. Foi muito difícil mudar a ideia que eu não era capaz, mas estou aqui hoje: fazendo essa página, num treinamento de uma empresa renomada, para me tornar uma desenvolvedora Front-End. <br>
    É, está valendo a pena todo o esforço...</p>
  </div>
</div>
