<form class="row form" [formGroup]="myVarThatIsOnTheComponent">
  <p class="form__title">Buscar endereço</p>
  <div class="divInput form-group has-float-label col-md-10">
    <input
      class="form-control input"
      id="first"
      type="text"
      placeholder=" "
      required="true"
      formControlName="firstName"
    />
    <label class="label" for="first">Digite seu Nome</label>
  </div>

  <div class="divInput form-group has-float-label col-md-10">
    <input
      class="form-control input"
      type="number"
      placeholder=" "
      formControlName="cpf"
    />
    <label class="label">Digite seu CPF</label>
  </div>

  <div class="divInput form-group has-float-label col-md-10">
    <input
      class="form-control input"
      type="email"
      id="email"
      placeholder=" "
      formControlName="email"
    />
    <label class="label" for="email">Digite seu e-mail </label>
  </div>

  <div class="divInput form-group has-float-label col-md-10">
    <input
      class="form-control input"
      id="password"
      type="text"
      placeholder=" "
      formControlName="cep"
    />
    <label class="label" for="password">Digite seu cep</label>
  </div>

  <div class="divBtn col-md-2">
    <button class="btn btn-block btnNtt" (click)="jorginhoPrintaPraMim()">
      BUSCAR
    </button>
  </div>

  <div class="hiddenDiv">
    <div class="formResult" *ngIf="cep.cep">
      <img class="imgVector" src="./../assets/Vector1.png" />
      <div class="result">
        {{ cep.logradouro }}
        {{ cep.complemento }}
        {{ cep.bairro }}
        <p>CEP: {{ cep.cep }}</p> 
      </div>
    </div>
  </div>
</form>
